node_modules/
public/dist/reservationsBundle.js
database/db.js
database/exampleData.js
database/injector.js
database/config.js
reservationsN1.0.zip
fakedata.txt
noSQLData.csv
.DS_Store
artillery.yml
newrelic.js
newrelic_agent.log
dump.rdb
.nyc_output 
my-ec2-key-pair.pem
